* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

	padding: 0;
	margin: 0;

	user-select: none;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.wrapper {
	background: #9F9F9F;
	
	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 50%;

	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
}
.header {
	width: 100%;
	padding: 20px;
	
	color: #fff;
	background: #FF8F6B;

	font-size: 16px;
}
.search {
	padding: 10px 20px;
	background: #F1F1F1;
}
.search__label {
	position: relative;
	cursor: pointer;
}

.search__label:before {
	content: '';
	
	width: 25px;
	height: 25px;
	
	position: absolute;
	top: 0;
	left: 0;
}
.search__icon {
	position: absolute;
	top: 3px;
	left: 7px;	

	color: #9F9F9F;
}
.search__input {
	padding: 5px 30px;
	width: 100%;
	border: none;
	border-radius: 25px;
}
.search__input:hover,.search__input:focus + .search__icon {
	color: #111fd1;
}
.content {
	width: 100%;
	background: #fff;
}
.content__left{
	width: 50%;
	
	float: left;

	border-right: 1px solid #f1f1f1;
}
.content__right{
	width: 50%;

	float: right;
}
.content__header{
	padding: 15px 5%;
	text-align: left;
	
	font-weight: bold;
	position: relative;
}
.content__header:after{
	content: '';

	position: absolute;
	bottom: 0;
	left: 5%;

	width: 90%;
	background: #F1F1F1;
	height: 1px;
}

ul {
	list-style: none;
	padding: 13px;
	margin: 0;

	width: 100%;
}
.content__wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 50vh;
}
.content__list-item {
	padding: 10px 5%;
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;

	background: #fff;
}

.content__list-item:hover {
	background: #f1f1f1;
}
.content__list-item:after {
	content: '';

	position: absolute;
	bottom: 0;
	left: 5%;

	width: 90%;
	background: #F1F1F1;
	height: 1px;

}
.content__list-wrapper {
	width: 50px;
	height: 50px;

	border-radius: 50%;

	overflow: hidden;
}
.content__list-name {
	font-size: 13px;

	font-weight: bold;
}
.content__list-add {
	width: 20px;
	height: 20px;

	position: relative;

	cursor: pointer;
}
.content__list-add:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;

	width: 100%;
	height: 5px;
	
	border-radius: 5px;
	background: #9f9f9f;
}
.content__list-add span{
	position: absolute;
	top: 50%;
	left: 0;
	
	transform: rotate(90deg);
	width: 100%;
	height: 5px;
	
	border-radius: 5px;
	background: #9f9f9f;
}

.content__list-add_new {
	width: 20px;
	height: 20px;

	position: relative;

	cursor: pointer;
}

.content__list-add_new:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;

	width: 100%;
	height: 5px;
	
	border-radius: 5px;
	background: #9f9f9f;

	transform: rotate(-45deg);
}
.content__list-add_new span{
	position: absolute;
	top: 50%;
	left: 0;
	
	transform: rotate(45deg);
	width: 100%;
	height: 5px;
	
	border-radius: 5px;
	background: #9f9f9f;
}

.footer {
	width: 100%;
	padding: 20px;

	background: #F1F1F1;

	font-size: 16px;	
}
.btn {
	width: 100px;
	height: 30px;
	
	border: none;
	border-radius: 10px;

	color: #fff;
	background: #FF8F6B;

	float: right;

	cursor: pointer;
}